@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    background: white;
  }
  
  #certificate {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    scale: 1 !important;
  }
}